@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto bold';
  src: url(fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Roboto italic';
  src: url(fonts/Roboto-ThinItalic.ttf);
}

:root {
  --primary-background-color: #1f2937;
  --primary-light-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --custom-blue-color: #3882f6;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Navbar style */

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-background-color);
  padding: 0 7em;
}

.logo {
  font-size: 24px;
  color: var(--primary-light-text-color);
}

.nav-links {
  /* margin: 28.08px 0; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  margin: 0em;
  padding: 0em;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: var(--secondary-text-color);
}

.nav-links li:not(:last-child) {
  margin-right: 1rem;
  margin-bottom: 0.5em;
}

.nav-links a:hover {
  cursor: pointer;
}

.toggle {
  position: absolute;
  top: 2em;
  right: 2em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle .bar {
  height: 3px;
  width: 100%;
  background-color: var(--secondary-text-color);
  border-radius: 0.5em;
}

/* First section with website name */

.header-section {
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: space-between;
  padding: 5em 7em 7em 7em;
}

.header-section h2 {
  margin: 0em;
  font-family: 'Roboto bold', sans-serif;
  font-size: 48px;
  color: var(--primary-light-text-color);
}

.header-section p {
  font-size: 18px;
  color: var(--secondary-text-color);
}

#title {
  flex: 4;
  margin-right: 2em;
}

#image {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: var(--secondary-text-color);
}

/* #image img {
  object-fit: cover;
  
} */

.header-section button {
  background-color: var(--custom-blue-color);
  border-radius: 0.5em;
  border: none;
  padding: 0.3em 2em;
  color: var(--secondary-text-color);
}

/* Info section */

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h3 {
  font-family: 'Roboto bold', sans-serif;
  font-size: 36px;
  color: var(--primary-background-color);
}

.information-options {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 0.1em; */
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0em 1em 0.1em;
}

.img-placeholder {
  border: 2.5px solid #3882f6;
  border-radius: 0.5em;
  width: 10em;
  height: 10em;
  color: #ffff;
}

#card p {
  margin: 0.5em;
  padding: 0.1em 1.5em;
  text-align: justify;
  text-align-last: center;
  width: 10em;
  font-size: 16px;
}

/* Quote section */

.quote-section {
  background-color: var(--secondary-text-color);
  margin-top: 5em;
  padding-bottom: 6em;
}

.quote-section p {
  font-family: 'Roboto italic', sans-serif;
  font-size: 36px;
  color: var(--primary-background-color);
  padding: 4.5em 6.7em 0em 6.7em;
  margin-bottom: 0;
}

#quote-author-name {
  text-align: right;
  padding-top: 0;
  margin-right: 9em;
  font-size: 18px;
  font-family: 'Roboto bold', sans-serif;
}

/* Call to action section */

.action-call-section {
  margin: 5em 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--custom-blue-color);
  color: var(--secondary-text-color);
  border-radius: 0.5em;
  padding: 2em 10em;
}

#call {
  flex: 5;
}
#call h4 {
  margin-bottom: 0;
  font-size: 23px;
}

#call p {
  margin-top: 0.5em;
}

#sign-up-button {
  flex: 1;
}

#sign-up-button button {
  color: var(--secondary-text-color);
  background-color: transparent;
  border-radius: 0.5em;
  border: 2px solid var(--secondary-text-color);
  padding: 0.3em 2em;
  margin-top: 3em;
}

/* Footer style */

footer {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 1.5em 0;
  color: var(--secondary-text-color);
}

/* About page */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about img {
  margin: 2em 0;
}

.about p {
  margin-bottom: 2em;
}

/* Contact page */

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.contact-form input {
  margin: 1em 0;
}

.contact-form textarea {
  margin-bottom: 1em;
}

.contact-form button {
  background-color: var(--custom-blue-color);
  border-radius: 0.5em;
  border: none;
  padding: 0.3em 2em;
  color: var(--secondary-text-color);
}

@media (max-width: 600px) {
  nav {
    padding: 0 1em;
  }

  .header-section {
    padding-left: 1em;
  }

  .toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li:last-child {
    margin-right: 1em;
    margin-bottom: 0.5em;
  }

  /* .nav-links li:hover {
    background-color: gray;
  } */

  .nav-links.active {
    display: flex;
  }

  #image {
    display: none;
  }

  .information h3 {
    font-size: 20px;
  }

  .information-options {
    flex-direction: column;
  }

  .quote-section {
    max-width: 600px;
    padding-bottom: 1em;
  }

  .quote-section p {
    font-size: 18px;
    padding: 1em 1.5em;
    padding-bottom: 5px;
  }

  #quote-author-name {
    font-size: 12px;
    margin-top: 0em;
    margin-right: 2em;
  }

  .action-call-section {
    margin: 2em 1em 2em 1em;
    padding: 1em;
  }

  #call {
    flex: 4;
  }
  #call h4 {
    font-size: 18px;
  }

  #call p {
    font-size: 12px;
  }

  #sign-up-button {
    flex: 2;
  }
  #sign-up-button button {
    font-size: 10px;
    margin-left: 1em;
  }
}

@media (max-width: 400px) {
  .logo {
    font-size: 18px;
  }

  .toggle {
    width: 20px;
    height: 20px;
    top: 1.5em;
  }

  /* .nav-links li:last-child {
    margin-right: 1em;
    margin-bottom: 0.5em;
  } */

  .nav-links a {
    font-size: 10px;
  }

  .header-section h2 {
    font-size: 30px;
  }

  .header-section p {
    font-size: 14px;
  }

  .header-section {
    padding: 2em 1em 3em 1em;
  }

  .information {
    margin-bottom: 0em;
    padding-bottom: 0em;
  }

  .img-placeholder {
    width: 7em;
    height: 7em;
  }

  #card p {
    font-size: 11px;
  }

  .quote-section {
    margin-top: 0em;
  }

  .action-call-section {
    padding: 1em;
    justify-content: space-between;
  }

  #call {
    margin-right: 0.5em;
  }

  #call h4 {
    font-size: 15px;
  }

  #call p {
    font-size: 10px;
  }

  #sign-up-button {
    margin-left: 0;
  }

  #sign-up-button button {
    margin: 1em 0 0 0.5em;
  }
}
